spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/placemat
    username: placemat
    password: placemat
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration