spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/placemat
    username: placemat
    password: placemat
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  security:
    jwt:
      secret: "CHANGE_ME_DEV_ONLY_CHANGE_ME_DEV_ONLY_32+"
      issuer: "placemat-core"
      ttl-seconds: 3600
